/*ANALOG*/
div.background {
  position: relative;
}
.analog-clock {
  width: 500px;
  height: 500px;
  border: 1px solid #030000;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 34%;
}

img.body {
  width: 510px;
  height: 520px;
  position: absolute;
  top: -8px;
  left: -5px;
}
img.hour {
  position: absolute;
  transform-origin: center bottom;
  bottom: -25px;
  right: -100px;
  width: 200px;
  height: 190px;
}
img.minutes {
  position: absolute;
  transform-origin: center bottom;
  bottom: -50px;
  right: -145px;
  width: 300px;
  height: 290px;
}
img.clockface {
}

.hour-hand,
.minutes-hand,
.seconds-hand,
.clock-face {
  position: absolute;
  transform-origin: center bottom;
  left: 50%;
  bottom: 50%;
}
.analog-clock.show,
.hour-hand.show,
.minutes-hand.show,
.seconds-hand.show,
.clock-face.show {
  display: show;
}

.analog-clock.none,
.hour-hand.none,
.minutes-hand.none,
.seconds-hand.none,
.clock-face.none {
  display: none;
}

.hour-hand {
  width: 4px;
  height: 160px;
  background-color: #00000000;
}
.minutes-hand {
  width: 2px;
  height: 280px;
  background-color: #1a020200;
}
.seconds-hand {
  width: 1px;
  height: 250px;
  background-color: #f00;
}

.clock-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
}

/*degital*/
.background {
  color: #b46060;
}
.degital-clock {
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  top: 25%;
  left: 30%;
  font-family: "Herculanum", sans-serif;
}
.degital-clock.show {
  display: show;
}
.degital-clock.none {
  display: none;
}
