/*ANALOG*/
div.background {
  background-image: url("www/background.svg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 1200px;
  position: relative;
}
.analog-clock {
  width: 500px;
  height: 500px;
  border: 1px solid #acffdc;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 34%;
}

img.hour {
  position: absolute;
  transform-origin: center bottom;
  bottom: -4px;
  right: -93px;
  width: 190px;
  height: 190px;
}
img.minutes {
  position: absolute;
  transform-origin: center bottom;
  bottom: -3px;
  right: -124px;
  width: 250px;
  height: 250px;
}

.hour-hand,
.minutes-hand,
.seconds-hand {
  position: absolute;
  transform-origin: center bottom;
  left: 50%;
  bottom: 50%;
}
.analog-clock.show,
.hour-hand.show,
.minutes-hand.show,
.seconds-hand.show,
.clock-face.show {
  display: show;
}

.analog-clock.none,
.hour-hand.none,
.minutes-hand.none,
.seconds-hand.none,
.clock-face.none {
  display: none;
}

.hour-hand {
  width: 4px;
  height: 50px;
  background-color: #00000000;
}
.minutes-hand {
  width: 2px;
  height: 70px;
  background-color: #00000000;
}
.seconds-hand {
  width: 1px;
  height: 250px;
  background-color: #f00;
}

.clock-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
}

/*degital*/
.degital-clock {
  position: absolute;
  font-size: 120px;
  top: 25%;
  left: 30%;
  text-align: center;
  color: #f4f2f2;
  font-family: "Bodoni 72 Smallcaps Book",sans-serif;
}
.degital-clock.show {
  display: show;
}
.degital-clock.none {
  display: none;
}
